#ironruby .lang {
  color: #A41E20;
}
#ironpython .lang {
  color: green;
}

#ironruby.page #header h1 a {
  background-image: url(../images/ironruby-logo-202x50.png);
}
#ironpython.page #header h1 a {
  background-image: url(../images/ironpython-logo-202x50.png);
}
#ironruby.home.page #header h1 a {
  background-image: url(../images/ironruby-logo-383x95.png);
}
#ironpython.home.page #header h1 a {
  background-image: url(../images/ironpython-logo-383x95.png);
}

#ironruby.page #get,
#ironruby.page #get a:hover {
  background-color: #A41E20;
}
#ironpython.page #get,
#ironpython.page #get a:hover {
  background-color: green;
}

#ironruby.home.page #get #download h3 a {
  background-image: url(../images/download-ironruby.png);
}
#ironpython.home.page #get #download h3 a {
  background-image: url(../images/download-ironpython.png);
}
