body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p,ul,li {
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
  position: relative;
  width: 0px;
  height: 0px;
  display: block;
}

a:link, a:visted {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

/* colors */

.dotnet {
  color: #1A61E5;
}

.page {
  min-width: 780px;
}

/* page nav */

.page #nav {
  text-align: right;
  position: relative;
  background-color: #eee;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  padding: 25px 40px 5px;
}
.home.page #nav {
  padding-top: 5px;
  text-align: center;
}
.home.page #nav div {
  margin: 0 auto;
  width: 780px;
  text-align: right;
}
.page #nav a {
  padding: 25px 6px 5px;
  font-size: 14px;
  font-weight: bold;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  text-decoration: none;
}
.home.page #nav a {
  padding: 5px 6px;
}
.page #nav a:last-child {
  border-right: 1px solid #ccc;
}
.page #nav a:link,
.page #nav a:visited {
  color: black;
}
.page #nav a:hover {
  background-color: #fff;
}
.page #nav a.active {
  background-color: white;
  border-bottom: 1px solid white;
  position: relative;
}


/* homepage header */

.page #header {
  margin: 0px 40px;
  position: relative;

}
.page #header h1 {
  position: absolute;
  top: -42px;
  margin: 0;
  width: 202px;
  height: 50px;
}
.page #header h1 a {
  width: 202px;
  height: 50px;
  background-repeat: no-repeat;
  display: block;
  text-indent: -100000px;
}
.home.page #header {
  margin: 25px auto 30px auto;
  width: 780px;
  position: relative;
}
.home.page #header h1 {
  width: 383px;
  height: 95px;
  top: 0;
}
.home.page #header h1 a {
  width: 383px;
  height: 95px;
}


/* tagline/what is? */

.page #header h2,
.page #what-is {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, arial, helvetica, sans-serif;
  font-weight: normal;
  text-align: left;
  letter-spacing: -1px;
  line-height: 105%;
  color: #666;
  margin: 0;
}
.page #header h2 {
  font-size: 26px;
  /* margin-left: 240px; */
  padding: 20px 0 30px;
  text-align: center;
}
.home.page #header h2 {
  font-size: 29px;
  margin-left: 403px;
  padding: 21px 0 7px;
  text-align: left;
}
.home.page #what-is {
  font-size: 24px;
  line-height: 125%;
  width: 780px;
  margin: 0 auto;
}
.home.page #what-is p {
  margin-right: 240px;
}
a.download_link {
  margin: 0 auto;
  display: block;
  width: 180px;

  padding: 10px 75px 10px 10px;

  text-decoration: none;
  text-align: left;
  font-family: 'gill sans', 'gill sans mt', 'Trebuchet MS', verdana, sans-serif;
  letter-spacing: -1px;

  background-image: url(../images/arrow-light.png);
  background-repeat: no-repeat;
  background-position: 210px center;
  color: inherit;
}
a.download_link:link,
a.download_link:visited {
  color: white;
  background-color: #555;
  border: 1px solid #999;
}
a.download_link:hover {
  color: white;
  background-color: #777;
  border: 1px solid #ccc;
}


/* get bar */

.page #get {
  color: white;
  text-align: center;
  position: relative;
  margin: 10px 0 20px;
  padding: 15px 0;
}
.home.page #get {
  margin: 30px 0;
}
.page #get a:link,
.page #get a:visited {
  color: white;
  text-decoration: underline;
}
.page #get a:hover {
  background-color: white;
  text-decoration: none;
}
.page #get ul {
  margin: 0 40px;
  padding: 0;
  text-align: left;
}
.home.page #get ul {
  width: 780px;
  margin: 0 auto;
}
.page #get ul li {
  list-style: none;
  font-size: 18px;
}
.home.page #get ul li {
  list-style: inherit;
  font-size: inherit;
}


/* get download */

.home.page #get li#download {
  list-style: none;
  width: 220px;
  margin-right: 10px;
  float: left;
}
.home.page #get #download h3 {
  margin: 0;
}
.home.page #get #download h3 a {
  position: relative;
  left: 26px;
  display: block;
  text-indent: -100000px;
  background-color: transparent;
  width: 163px;
  height: 162px;
}
.home.page #get #download p {
  text-align: center;
  margin: 0;
}


/* get tryruby in the browser */

.home.page #get #tryruby {
  float: left;
  width: 300px;
  list-style: none;
  margin: 0 10px;
}
.home.page #get #tryruby h3 {
  font-size: 36px;
  line-height: 95%;
  font-family: "Gill Sans", "gill sans mt", Calibri, arial, helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: -1px;
}
.home.page #get #tryruby h3 a {
  text-decoration: none;
}
.home.page #get #tryruby h3 a:hover {
  background-color: transparent;
  color: white;
}
.home.page #get #tryruby h3 a span {
  font-size: 24px;
}
.home.page #get #tryruby p {
  margin: 10px;
}
.home.page #get #tryruby a#console {
  display: block;
  width: 290px;
  height: 100px;
  padding: 5px;
}
.home.page #get #tryruby a#console img {
  border: 0;
}
.home.page #get #tryruby a#console:link,
.home.page #get #tryruby a#console:visited {
  background-color: #ccc;
}
.home.page #get #tryruby a#console:hover {
  background-color: #fe8;
}


/* get tutorial */

.home.page #get #tutorial {
  float: left;
  width: 220px;
  list-style: none;
  margin-left: 10px;
}
.home.page #get #tutorial #code-snippet code {
  width: 200px;
  height: 250px;
  /* background-image: url(../images/code-snippet-bg.png); */
  background-color: #484848; 
  background-position: 0 0;
  background-repeat: no-repeat;
  padding: 10px;
  position: absolute;
  top: -190px;
  font-family: consolas, "courier new", monospace;
  font-size: 13px;
  overflow: hidden;
  line-height: 110%;
  letter-spacing: 0px;
}
.home.page #get #tutorial #code-snippet code .constant {
  color: #ff0;
}
.home.page #get #tutorial #code-snippet code .keyword {
  color: #fc6;
}
.home.page #get #tutorial #code-snippet code .string {
  color: #0f0;
}
.home.page #get #tutorial #code-snippet code .number {
  color: #0af;
}
.home.page #get #tutorial #code-snippet code .comment {
  color: #f0f;
}

.home.page #get #tutorial p {
  margin: 70px 0px 5px;
}

.home.page #get #tutorial a#tutorial-image,
.home.page #get #tutorial a#tutorial-image img {
  padding: 0; margin: 0; border: 0; background-color: transparent;
}
.home.page #get #tutorial a#tutorial-image:hover {
  padding: 0; margin: 0; border: 0; background-color: transparent;
}
.home.page #get #tutorial a#tutorial-image {
  display: block;
}
.home.page #get #tutorial a#tutorial-image:link,
.home.page #get #tutorial a#tutorial-image:visited {
  padding: 5px;
  background-color: #ccc;
}
.home.page #get #tutorial a#tutorial-image:hover {
  padding: 5px;
  background-color: #fe8;
}


/* question-answer */

.page ul.question-answer {
  margin: 0 40px 30px;
  font-family: georgia, serif;
}
.home.page ul.question-answer {
  margin: 0 auto 30px auto;
  width: 780px;
}
ul.question-answer li {
  list-style: none;
  position: relative;
}
ul.question-answer li h3 {
  position: absolute;
  width: 200px;
  text-align: right;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0px;
}
ul.question-answer li p {
  margin-left: 240px;
  text-align: left;
  font-size: 18px;
  line-height: 140%;
}
ul.question-answer li h4 {
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  margin-top: 15px;
  position: absolute;
  text-align: right;
  width: 200px;
}
p.space {
  margin-top: 10px;
}
p.space.strip {
  border-left: 10px solid #ddd;
  /* border-left: 10px solid #ff9; */
  padding: 5px 10px; 
}
p.half {
  padding-top: 5px;
  margin-top: 0px
}
ul.question-answer li p.note {
  font-style: italic;
  font-size: 15px;
}
p a.download {
  font-size: 20px;
}

/* footer */

#footer {
  color: #eee;
  background-color: #222;
}
#footer ul {
  padding: 20px 40px;
}
#footer li {
  list-style: none;
  padding: 0; margin: 0;
}
#footer li:first-child {
  float: left;
}
#footer li#footer-nav {
  float: right;
}
#footer li a:link,
#footer li a:visited {
  color: white;
  padding: 0 2px;
  margin: 0 2px;
}
#footer li a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
