<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".rb" mimeType="application/ruby" />
            <mimeMap fileExtension=".erb" mimeType="application/ruby" />
            <mimeMap fileExtension=".py" mimeType="application/python" />
            <mimeMap fileExtension=".slvx" mimeType="application/x-zip-compressed" />
            <mimeMap fileExtension=".dmg" mimeType="application/x-apple-diskimage" />
            <mimeMap fileExtension=".vsix" mimeType="application/vsix" />
        </staticContent>
    </system.webServer>
</configuration>
