<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  
  
<!--
  DLR configuration: mainly sets IronRuby's library paths, 
  tweak as necessary based on your setup.
-->
<configSections>
  <section name='microsoft.scripting' requirePermission='false' type='Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'/>
</configSections>

<microsoft.scripting debugMode="false">
  <languages>
    <language extensions='.rb' displayName='IronRuby' type='IronRuby.Runtime.RubyContext, IronRuby, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' names='IronRuby;Ruby;rb'/>
  </languages>
  <options>
    <set language="Ruby" option="LibraryPaths" value="C:/Program Files (x86)/IronRuby 1.0v4/lib/IronRuby;C:/Program Files (x86)/IronRuby 1.0v4/lib/ruby/1.8;C:/Program Files (x86)/IronRuby 1.0v4/lib/ruby/site_ruby/1.8"/>
  </options>
</microsoft.scripting>


  <system.web>
    <!-- 
      See Web.Release.config: it disabled debug-compilation in release-mode,
      so no need to change this value here.
    -->
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
  
  <!-- 
    Depending on your scenario for using IronRuby.Rack, there are different 
    ways to load it. If you just want all requests to go through Rack, use
    Rack.AspNetModule. If you want certain path and verb filters, maybe if part
    of your app is Ruby and the other part ASP.NET, use the Rack.AspNetHandler.
    Also, Rack.RouteHandler let's you register IronRuby.Rack to ASP.NET's
    routing support (System.Web.Routing), but that is done in code.
    
    Also, the registration depends on what web-server you are using,
    so make sure the correct system.web configuration section is enabled.
  -->
  
  <!-- The following registers IronRuby.Rack on WebDev.WebServer or Cassini -->
  
  <!--
  <system.web>
    <httpHandlers>
      <add path="*" verb="*" type="IronRubyRack.AspNetHandlerFactory, IronRuby.Rack" />
    </httpHandlers>
  </system.web>
  -->
  <system.web>
    <httpModules>
      <add name="IronRubyRack" type="IronRubyRack.AspNetModule, IronRuby.Rack" />
    </httpModules>
  </system.web>

  <!-- The following registers IronRuby.Rack to run on IIS -->
  
  <!--
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="IronRuby.Rack" path="*" verb="*" type="IronRubyRack.AspNetHandlerFactory, IronRuby.Rack" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="IronRuby.Rack" type="IronRubyRack.AspNetModule, IronRuby.Rack" />
    </modules>  
  </system.webServer>

  <appSettings>
    <!-- ironruby-rack settings -->
      <!-- Directory where your config.ru is -->
      <add key="AppRoot" value="." />          
    
      <!-- Location of ironruby-rack's logfile -->
      <add key="Log" value="log/ironruby-rack.log" />
    
    
      
      <!-- Rack environment -->
      <add key="RackEnv" value="" />
      
    
      
    
    <!-- /end ironruby-rack settings -->
  </appSettings>
</configuration>
