<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" /> 
  <title>IronRuby.net / Write browser applications in Ruby</title>
  <link rel="stylesheet" href="../../css/rst.css" type="text/css" media="screen"
            charset="utf-8" />
  <link rel="stylesheet" href="../../css/master.css" type="text/css" media="screen"
        charset="utf-8" />
  <link rel="stylesheet" href="../../css/lang.css" type="text/css" media="screen"
        charset="utf-8" />
  <link rel="stylesheet" href="../../css/sticky-footer.css" type="text/css" media="screen"
        charset="utf-8" />
  
</head>

<body id="ironruby" class="sub larger page">

  <div id="wrap">
    <div id="main" class="clearfix">

      <div id="nav">
  <div>
    <a href='../' >Overview</a><a href='../download/' >Download</a><a href='../tools/' >Tools</a><a href='../browser/'  class='active' >Browser</a><a href='../documentation/' >Documentation</a><a href='../support/' >Support</a>
  </div>
</div>

<div id="header">
  <h1><a href="..">IronRuby</a></h1>

  <ul id="page-nav">


<li><a href="index.html" class="active">Ruby in the browser</a></li>

<li><a href="gettingstarted.html">Getting started</a></li>

<li><a href="download.html">Downloads</a></li>

<li><a href="examples.html">Examples</a></li>

<li><a href="docs.html">Documentation</a></li>

</ul>

  <h2>
    Write browser applications in Ruby
  </h2>
</div>

<div id="body">
  <p>IronRuby allows you to use Ruby code in browser applications to script the
HTML page and vector-graphics; combining the benefits of Ruby and
rich-internet applications, without changing the way web-developers work.</p>
<p>At a very basic level, this lets you write Ruby code directly in HTML
pages:</p>
<pre class="literal-block">
&lt;script type=&quot;text/ruby&quot;&gt;
    window.alert &quot;Hello from Ruby&quot;
&lt;/script&gt;
</pre>
<div class="class browser-nav container">
<ul class="simple">
<li><a class="reference external" href="gettingstarted.html">Getting started</a></li>
<li><a class="reference external" href="examples.html">Examples</a></li>
<li><a class="reference external" href="http://twitter.com/home/?status=RT+Ruby+and+XAML+in+web+pages+http://ironruby.net/browser+%23ironruby+%23silverlight+%23microsoft">Spread the word</a></li>
</ul>
</div>
</div>


    </div>
  </div>

  <div id="footer">
    <ul>
      <li>&copy; <a href='http://microsoft.com'>Microsoft Corporation</a></li>
      <li id="footer-nav">
        <a href='../' >Overview</a><a href='../download/' >Download</a><a href='../tools/' >Tools</a><a href='../browser/'  class='active' >Browser</a><a href='../documentation/' >Documentation</a><a href='../support/' >Support</a>
      </li>
      <li class="clear">&nbsp;</li>
    </ul>
  </div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-16148811-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>