<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" /> 
  <title>IronPython.net / IronPython tools for Visual Studio</title>
  <link rel="stylesheet" href="../../css/rst.css" type="text/css" media="screen"
            charset="utf-8" />
  <link rel="stylesheet" href="../../css/master.css" type="text/css" media="screen"
        charset="utf-8" />
  <link rel="stylesheet" href="../../css/lang.css" type="text/css" media="screen"
        charset="utf-8" />
  <link rel="stylesheet" href="../../css/sticky-footer.css" type="text/css" media="screen"
        charset="utf-8" />
  
</head>

<body id="ironpython" class="sub larger tools page">

  <div id="wrap">
    <div id="main" class="clearfix">

      <div id="nav">
  <div>
    <a href='../' >Overview</a><a href='../download/' >Download</a><a href='../tools/'  class='active' >Tools</a><a href='../browser/' >Browser</a><a href='../documentation/' >Documentation</a><a href='../support/' >Support</a>
  </div>
</div>

<div id="header">
  <h1><a href="..">IronPython</a></h1>

  <ul id="page-nav">


<li><a href="index.html" class="active">IronPython Tools</a></li>

<li><a href="download/">Download</a></li>

<li><a href="IronPython-Tools-for-Visual-Studio-Walkthrough.pdf">Walkthrough</a></li>

</ul>

  <h2>
    IronPython tools for Visual Studio
  </h2>
</div>

<div id="body">
  <p><a class="reference external" href="download/">IronPython tools</a> provide a
<em>Python code editor</em>, a
<em>file-based project system</em>, and an
<em>interactive Python interpreter</em>,
all inside <a class="reference external" href="http://www.microsoft.com/visualstudio/">Visual Studio 2010</a>, and
<strong>all for free</strong>.</p>
<div class="class tools-image container">
IronPython Tools</div>
<div class="class download-link container">
<strong>Download</strong>
<a class="reference external" href="download/">IronPython Tools CTP2</a></div>
<div class="class tools-nav container">
<p><strong>Resources</strong></p>
<ul class="simple">
<li><a class="reference external" href="IronPython-Tools-for-Visual-Studio-Walkthrough.pdf">Walkthrough</a></li>
<li><a class="reference external" href="ipy-tools-spec-ctp2.pdf">Specification</a></li>
<li><a class="reference external" href="http://twitter.com/home/?status=RT+IronPython+tools:+Python+IDE+in+Visual+Studio+http://ironpython.net/tools/+%23ironpython+%23vs2010">Spread the word</a></li>
</ul>
</div>
</div>


    </div>
  </div>

  <div id="footer">
    <ul>
      <li>&copy; <a href='http://microsoft.com'>Microsoft Corporation</a></li>
      <li id="footer-nav">
        <a href='../' >Overview</a><a href='../download/' >Download</a><a href='../tools/'  class='active' >Tools</a><a href='../browser/' >Browser</a><a href='../documentation/' >Documentation</a><a href='../support/' >Support</a>
      </li>
      <li class="clear">&nbsp;</li>
    </ul>
  </div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-16148811-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>