<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" /> 
  <title>IronPython.net / Get IronPython</title>
  <link rel="stylesheet" href="../../css/rst.css" type="text/css" media="screen"
            charset="utf-8" />
  <link rel="stylesheet" href="../../css/master.css" type="text/css" media="screen"
        charset="utf-8" />
  <link rel="stylesheet" href="../../css/lang.css" type="text/css" media="screen"
        charset="utf-8" />
  <link rel="stylesheet" href="../../css/sticky-footer.css" type="text/css" media="screen"
        charset="utf-8" />
  
</head>

<body id="ironpython" class="sub columns page">

  <div id="wrap">
    <div id="main" class="clearfix">

      <div id="nav">
  <div>
    <a href='../' >Overview</a><a href='../download/'  class='active' >Download</a><a href='../tools/' >Tools</a><a href='../browser/' >Browser</a><a href='../documentation/' >Documentation</a><a href='../support/' >Support</a>
  </div>
</div>

<div id="header">
  <h1><a href="..">IronPython</a></h1>
  <h2>
    <a class='download_link' 
       target='_blank'
       href="http://ironpython.codeplex.com/releases/view/36280#DownloadId=116507"
       >Download release<br /><span style='font-size: 18px'>IronPython 2.6.1</span></a>
  </h2>
</div>

<div id="body">
  <div class="section" id="versions">
<h1>Versions</h1>
<p>IronPython maintains compatible versions with <a class="reference external" href="http://www.python.org/download/releases/2.5/">Python 2.5</a> and <a class="reference external" href="http://www.python.org/download/releases/2.6/">Python 2.6</a>;
<a class="reference external" href="http://ironpython.codeplex.com/Release/ProjectReleases.aspx?ReleaseId=30416">IronPython 2.0.3</a> and <a class="reference external" href="http://ironpython.codeplex.com/releases/view/36280">IronPython 2.6.1</a>, respectively. If you're not sure
which version to use, use <a class="reference external" href="http://ironpython.codeplex.com/releases/view/36280">IronPython 2.6.1</a>.</p>
<p><a class="reference external" href="http://ironpython.codeplex.com/wikipage?title=SupportedReleaseList">All major IronPython releases</a></p>
</div>
<div class="section" id="source-code">
<h1>Source code</h1>
<p>IronPython is an <a class="reference external" href="http://ironpython.codeplex.com">open source project</a> freely available under the <a class="reference external" href="http://www.opensource.org/licenses/ms-pl.html">Microsoft
Public License</a>.</p>
<div class="download col container">
<a class="reference external" href="http://ironpython.codeplex.com/releases/view/36280#DownloadId=116511">Download IronPython 2.6.1 Source Code</a></div>
<p><a class="reference external" href="http://ironpython.codeplex.com/SourceControl/ListDownloadableCommits.aspx#DownloadLatest">Download latest (zip)</a> | <a class="reference external" href="http://ironpython.codeplex.com/SourceControl/BrowseLatest">Browse Online</a> | <a class="reference external" href="http://ironpython.codeplex.com/SourceControl/ListDownloadableCommits.aspx">Recent Check-ins</a></p>
<p><a class="reference external" href="http://ironpython.codeplex.com/SourceControl/ListDownloadableCommits.aspx">Instructions for accessing with SVN or TFS</a></p>
<div class="divider container">
_</div>
</div>
<div class="section" id="prerequisites">
<h1>Prerequisites</h1>
<p>IronPython is a cross-platform and cross-browser programming language,
so prerequisites will vary based on usage.</p>
<p>Here are the recommended runtimes are for each platform:</p>
<div class="section" id="windows-desktop-server-apps">
<h2>Windows desktop &amp; server apps</h2>
<div class="strip container">
<p>On Windows for desktop and server usage, the .NET framework is the
recommended runtime.</p>
<div class="download container">
<a class="reference external" href="http://www.microsoft.com/downloads/details.aspx?FamilyID=9cfb2d51-5ff4-4491-b0e5-b386f32c0992">Latest .NET version (4.0)</a></div>
<div class="note">
<p class="first admonition-title">Note</p>
<div class="last line-block">
<div class="line">IronPython also runs on previous versions of .NET: <a class="reference external" href="http://bit.ly/iron-dotnet35sp1">3.5 SP1</a>, <a class="reference external" href="http://bit.ly/iron-dotnet35">3.5</a>, <a class="reference external" href="http://bit.ly/iron-dotnet3">3.0</a>, and <a class="reference external" href="http://bit.ly/iron-dotnet20sp1">2.0 SP1</a>.</div>
</div>
</div>
</div>
</div>
<div class="section" id="windows-mac-os-browser-apps">
<h2>Windows &amp; Mac OS browser apps</h2>
<div class="strip container">
<p>On Windows &amp; Mac OS for browser usage, Silverlight is the recommended
runtime.</p>
<div class="download container">
<a class="reference external" href="http://go.microsoft.com/fwlink/?linkid=150228">Latest Silverlight version (4.0)</a></div>
<p>Silverlight enables you to use Python to script HTML pages just as
you would with JavaScript, and also enables advanced vector graphics
for rich user-interfaces and video.</p>
<div class="line-block">
<div class="line"><br /></div>
<div class="line"><a class="reference external" href="../browser/">Learn more about Python in the browser</a></div>
</div>
</div>
</div>
<div class="section" id="mac-os-linux-desktop-server-apps">
<h2>Mac OS &amp; Linux desktop &amp; server apps</h2>
<div class="strip container">
<p>IronPython runs on
<a class="reference external" href="http://www.mono-project.com">Mono</a>, a cross platform, open source .NET framework,
enables IronPython to be used on Linux, Mac OS, and BSD systems.</p>
<div class="download container">
<a class="reference external" href="http://www.go-mono.com/mono-downloads/download.html">Latest Mono version (2.6.4)</a></div>
</div>
</div>
<div class="section" id="linux-browser-apps">
<h2>Linux browser apps</h2>
<div class="strip container">
<p>IronPython also runs on <a class="reference external" href="http://www.mono-project.com/Moonlight">Moonlight</a>, a open source
implementation of Microsoft Silverlight for Unix systems.</p>
<div class="download container">
<a class="reference external" href="http://go-mono.com/moonlight-beta">Latest Moonlight version (2.0)</a></div>
<div class="note">
<p class="first admonition-title">Note</p>
<div class="last line-block">
<div class="line">Moonlight 2 targets the Silverlight 2 API, so if you want to</div>
<div class="line">run the same application on all platforms make sure to only use</div>
<div class="line">Silverlight 2 APIs, or provide a fallback implementation for</div>
<div class="line">Moonlight.</div>
</div>
</div>
</div>
</div>
</div>
</div>



    </div>
  </div>

  <div id="footer">
    <ul>
      <li>&copy; <a href='http://microsoft.com'>Microsoft Corporation</a></li>
      <li id="footer-nav">
        <a href='../' >Overview</a><a href='../download/'  class='active' >Download</a><a href='../tools/' >Tools</a><a href='../browser/' >Browser</a><a href='../documentation/' >Documentation</a><a href='../support/' >Support</a>
      </li>
      <li class="clear">&nbsp;</li>
    </ul>
  </div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-16148811-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>